<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Kim Charles</h1>
    <p>I am a student at UWI, Mona. 
    I am so special in this world and have a more unique personality than others. 
    I am a very responsible and sympathetic person. 
    I am always helping others and try my best to solve their problems. 
    I am a very simple student in my school and attend each class. 
    I study well every day in the night till 10 pm and in the morning from 4 am. 
    I always pay attention to my study and motivate my friends as well to focus on their study.
    I am just taking it one step at a time straight to the finish line. \(^o^)/
    </p>
</body>
</html>